version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: scholarship
    ports:
      - "5432:5432"
    volumes:
      - postgres_volume:/var/lib/postgresql/data

  backend:
    build: ./scholarship
    container_name: spring-backend
    restart: always
    environment:
      DB_URL: jdbc:postgresql://postgres:5432/scholarship
      DB_USER: postgres
      DB_PASS: 1234
      JWT_SECRET: mySuperStrongSecretKey1234567890ABCDEF
      JWT_EXPIRATION: 3600000
      MAIL_USER: lalithbabu28@gmail.com
      MAIL_PASS: yjsz paar woij reku
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    container_name: react-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  postgres_volume:
